[Desktop Entry]
Type=Application
Name=Benteveo
Comment=Ruido, Pomodoro y tareas para enfocarse
TryExec=/home/enzo/.local/bin/benteveo
Exec=/home/enzo/.local/bin/benteveo
Icon=benteveo-pixel
Terminal=false
StartupNotify=true
Categories=Utility;
Keywords=focus;pomodoro;noise;tasks;
